@typeparam TItem

<Table TItem="TItem" @ref="Instance" IsPagination="IsPagination" PageItemsSource="PageItemsSource"
    IsBordered="IsBordered" IsStriped="IsStriped" IsMultipleSelect="IsMultipleSelect" IsFixedHeader="IsFixedHeader"
    OnQueryAsync="OnQueryAsync!" OnDeleteAsync="OnDeleteAsync!" OnSaveAsync="OnSaveAsync!"
       ShowDefaultButtons="ShowDefaultButtons" ShowAdvancedSearch="ShowAdvancedSearch" ShowLoadingInFirstRender="ShowLoadingInFirstRender"
    ShowEmpty="ShowEmpty" EmptyText="No Data" HeaderStyle="TableHeaderStyle.Light" ShowSearchText="ShowSearchText"
       ShowSearch="ShowSearch" SearchMode="SearchMode.Popup" ShowToolbar="ShowToolbar" TableSize="TableSize.Compact" TableToolbarTemplate="TableToolbarTemplate!"
       ShowRefresh="ShowRefresh" ShowLoading="ShowLoading" AutoGenerateColumns=AutoGenerateColumns AllowResizing="AllowResizing" ShowColumnList="ShowColumnList"
       ShowExtendButtons="ShowExtendButtons" EditDialogIsDraggable="EditDialogIsDraggable" ShowLineNo="ShowLineNo" LineNoText="No."
       ShowAddButton="ShowAddButton" ShowEditButton="ShowEditButton" ShowDeleteButton="ShowDeleteButton" ShowSkeleton="ShowSkeleton" EditFooterTemplate="EditFooterTemplate!"
       ShowCardView="ShowCardView" SortString="@SortString" SelectedRows="SelectedRows" ShowExtendEditButton="ShowExtendEditButton" IsExtendButtonsInRowHeader="IsExtendButtonsInRowHeader"
       ShowEditButtonCallback="ShowEditButtonCallback!" ShowDeleteButtonCallback="ShowDeleteButtonCallback!" EditDialogRowType="RowType.Inline"
       TableColumns="TableColumns" EditTemplate="EditTemplate!" ShowExtendDeleteButton="ShowExtendDeleteButton" EditDialogLabelAlign="Alignment.Right"
       CustomerSearchTemplate="CustomerSearchTemplate!" RowButtonTemplate="RowButtonTemplate!" ModelEqualityComparer="ModelEqualityComparer!">
</Table>


